
<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
</style>
<body>

<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <h4 class="w3-bar-item"><b>HR Employees System</b></h4>
   <a class="w3-bar-item w3-button w3-hover-black" href="http://127.0.0.1:3000/users">Users</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="http://127.0.0.1:3000/employees">Employees</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="http://127.0.0.1:3000/teams">Teams</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="http://127.0.0.1:3000/targets">Targets</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="http://127.0.0.1:3000/devisions">Divisions</a>
</nav>
</html>