

<!DOCTYPE html>
<html> 

<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}

</style>
</head>

<body>

<!-- Sidebar/menu -->



<div class="w3-main" style="margin-left:340px;margin-right:40px; ">

  <!-- Header -->
  <br><br><br>
  <div class="w3-container" style="margin-top:-250px" id="showcase">
    <h1 class="w3-jumbo"><b><%= t 'hello' %></b></h1>
    <h1 class="w3-xxxlarge w3-text-black"><b></b></h1>
    <hr style="width:50px;border:5px solid black" class="w3-round">
  </div>
  





</body>
</html>