<div id="<%= dom_id devision %>">
  <p>
    <strong>Name:</strong>
    <%= devision.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= devision.description %>
  </p>

 <% employee = Employee.find_by(id:devision.manager) %>
    <% manager = nil %>
    <% unless employee == nil then%>
      <% manager = employee.name %>
    <% end %>
   

  <p>
    <strong>Manager:</strong>
    <%= devision.manager %>
  </p>

</div>
